.pets {
    height: 70vh;
    width: 100%;
    margin-top: 50px;
    &__createBtn {
        background-color: #7347c1;
        & > span {
            color: #fff;
        }
        border-radius: 10px;
        & svg {
            fill: #fff;
        }
        position: fixed;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
