.today {
    margin-top: 50px;
    &__createBtn {
        background-color: #7347c1;
        & > span {
            color: #fff;
        }
        border-radius: 10px;
        & svg {
            fill: #fff;
        }
        position: absolute;
        width: 100%;
    }
    &__controls {
        position: relative;
        width: 200px;
    }
}
