.petsContainer {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 310px;
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 0;
    transform: translateY(150%);
    & a {
        margin: 0px 10px;
        padding: 5px 8px;
        background-color: #7347c1;
        border-radius: 3px;
        color: #fff !important;

        cursor: pointer;
        &:hover {
            transition: background-color 0.3s;
            background-color: #0674ec !important;
        }
    }
}

:global {
    .ant-pagination-item-link {
        display: none;
    }
    .ant-pagination-item {
        margin: 10px 0px;
    }
    .ant-pagination-item-active {
        & a {
            background-color: #0674ec;
        }
    }
}

@media (max-width: 800px) {
    .petsContainer {
        flex-direction: column;
        height: 50vh;
    }

    .pagination {
        left: 50%;
        transform: translateX(-50%) translateY(100%);

        & a {
        }
    }
}
