.pets {
    height: 70vh;
    width: 100%;
    margin-top: 50px;
    &__btnWrapper {
        position: absolute;
        right: 0;
        height: 100%;
        transform: translateX(-100%);
    }
    &__createBtn {
        background-color: #7347c1;
        position: absolute;
        width: 100%;
        top: 0;
        & > span {
            color: #fff;
        }
        border-radius: 10px;
        & svg {
            fill: #fff;
        }
    }
    &__controls {
        position: relative;
        width: 200px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
